.list-element-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: 60% 40%;
  min-height: 96px;
  max-height: 106px;
  padding: 10px;
  border-bottom: 1px solid gray;
  max-width: 90%;
  margin: 0 auto;
  cursor: pointer;
  &:hover {
    background-color: rgb(230, 230, 230);
  }
}

.list-element-wrapper:active {
  background-color: #ffa600;
}
.list-element-header {
  align-self: flex-end;
  padding-left: 10px;
  color: #395d75;
}
.list-element-paragraph {
  align-self: flex-start;
  padding-left: 10px;
  font-size: 0.85rem;
}
.list-element-image {
  grid-column: 1/2;
  grid-row: 1/3;
  display: grid;
}
.user-image {
  width: 80px;
  height: 80px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-color: black;
  align-self: center;
  justify-self: center;
}

.list-element-new {
  height: 30px;
  width: 30px;
  position: absolute;
  right: 2%;
  top: 50%;
  background-color: darkgoldenrod;
  border-radius: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-size: 1.2rem;
}
