.list-template-wrapper-p {
  background-color: whitesmoke;
  padding-top: 100px;
}
.list-template-wrapper {
  background-color: whitesmoke;
}

.list-template-header {
  font-size: 1.3rem;
  text-align: center;
  background-color: rgb(85, 85, 85);
  color: white;
}
