.primary-btn {
  background-color: #ffa600;
  width: 70%;
  max-width: 320px;
  height: 55px;
  border-radius: 10px;
  border-style: none;
  font-size: 1.3rem;
  margin: 10px auto;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.secondary-btn {
  background-color: transparent;
  text-decoration: underline;
  color: white;
  width: 70%;
  height: 55px;
  border-radius: 10px;
  border-style: none;
  font-size: 1.3rem;
  margin: 10px 0;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
