.primary-btn {
  background-color: #ffa600;
  width: 70%;
  height: 55px;
  border-radius: 10px;
  border-style: none;
  font-size: 1.3rem;
  margin: 10px 0;
  font-family: "Poppins", sans-serif;
}
.secondary-btn {
  background-color: transparent;
  text-decoration: underline;
  color: white;
  width: 70%;
  height: 55px;
  border-radius: 10px;
  border-style: none;
  font-size: 1.3rem;
  margin: 10px 0;
  font-family: "Poppins", sans-serif;
}
