.message-wrapper {
  width: 100%;
  display: flex;
  padding: 1% 0;
  &-main {
    @extend .message-wrapper;
    justify-content: flex-end;
  }
}
.message {
  max-width: 48%;
  background-color: #5990b5;
  padding: 5px;
  display: grid;
  border-radius: 10px;
  color: white;
  &-main {
    @extend .message;
    background-color: #afb7bd;
    color: black;
  }
}
.message-text {
  font-size: 1rem;
  padding: 3px;
  &-main {
    @extend .message-text;
    text-align: end;
  }
}
.message-date {
  justify-self: flex-end;
  color: #0c0f0f;
  font-size: 0.55rem;
  &-main {
    @extend .message-date;
    color: rgb(56, 56, 56);
  }
}
.message-status-unread {
  width: 15px;
  height: 15px;
  background-image: url("../../images/envelope.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5px;
}

.message-status-read {
  @extend .message-status-unread;
  background-image: url("../../images/mail.svg");
}
.message-status-unsent {
  @extend .message-status-unread;
  background-image: url("../../images/reload.svg");
}

.message-info-wrapper {
  display: flex;
  align-items: center;
  &-main {
    @extend .message-info-wrapper;
    justify-content: flex-end;
  }
}
