.message-wrapper {
  width: 100%;
  display: flex;
  padding: 1% 0;
  &-main {
    @extend .message-wrapper;
    justify-content: flex-end;
  }
}
.message {
  max-width: 48%;
  background-color: #5990b5;
  padding: 5px;
  display: grid;
  border-radius: 10px;
  color: white;
  &-main {
    @extend .message;
    background-color: #afb7bd;
    color: black;
  }
}
.message-text {
  font-size: 1rem;
}
.message-date {
  justify-self: flex-end;
}
.message-status-unread {
  width: 20px;
  height: 20px;
  background-image: url("../../images/envelope.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5px;
}

.message-status-read {
  width: 20px;
  height: 20px;
  background-image: url("../../images/mail.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5px;
}
.message-info-wrapper {
  display: flex;
  align-items: center;
}
